<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/languages']" class="nav-link" href="#">Языки</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/builders']" class="nav-link" href="#">Сборщики</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/configs']"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link" href="#">Конфигурации</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" [routerLink]="['/configs/', 'create']"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link" href="#">Новая конфигурация</a>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a *ngIf="!authService.isAuth(); else exit"
           routerLinkActive="active" [routerLink]="['/login']" class="nav-link" href="#">Вход</a>
        <ng-template #exit>
          <a class="nav-link" (click)="logout()">Выйти</a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>

<br>

<router-outlet></router-outlet>
