<div class="container">
  <div class="card">
    <div class="card-header bg-dark">
      <div class="text-white text-center">Console:</div>
    </div>
    <div class="card-body">
      <div class="overflow-auto" style="height: 750px;">

<!--        <div *ngFor="let line of lines;"-->
<!--             style="background-color: black; height: 25px; font-size: 20px;"-->
<!--             class="text-white"-->
<!--             (click)="activeTerminal()"-->
<!--        >-->
<!--          {{ line.join('') }}-->
<!--        </div>-->

        <ng-terminal #terminal></ng-terminal>

      </div>
    </div>
  </div>
</div>
