.info{
	border-radius: 10px;
	box-shadow: 0 0 10px;
	padding: 5px 5px 5px 5px;
  position: absolute;
	background: white;
	margin: 10px 0 0 10px;
	width: 20%;
  font-size: 13px;
	height: auto;
}

.projects{
	background: white;
	width: 70%;
	box-shadow: 0 0 10px;
	float: right;
	overflow: auto;
	margin: 10px 50px 70px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

@media screen and (max-width: 600px) {
    .info{
        font-size: 8px;
        margin: auto;
        position: static;
    }
}

.projects a {
    float: left;
    display: block;
    color: black;
    margin: 0 0 0 0;
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 15px;
}

.projects a:hover {
    color: red;
}